@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
  background: linear-gradient(#615dad, #ffc8da) no-repeat;
}

.menu__conteiner {
  margin: 0 auto;
  max-width: 400px;
  background-color: #283e50;
  border-radius: 5px;
}

.menu__img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu__text {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: "Lobster", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
}

.menu__button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
  border-top: 2px solid #283e50;
  display: block;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

.menu__button--rules {
  background-color: #1fcca4;
}

.menu__button--rules:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.menu__button--rules:focus {
  background-color: #1ba786;
}

.menu__button--start {
  background-color: #0197f6;
}

.menu__button--start:hover {
  background-color: #0090e9;
  cursor: pointer;
}

.menu__button--start:focus {
  background-color: #0181d1;
}

.game__container {
  max-width: 80vmin;
  margin: 0 auto;
}

.game__content {
  display: flex;
  justify-content: space-between;
}

.game__title {
  margin: 0;
  padding: 0;
}

.game__text {
  width: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.4rem;
}

.game__navigation {
  width: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game__img {
  padding: 8px;
}

.game__navigation-container {
  border-radius: 4px;
}

.game__navigation-container--home {
  background-color: #1fcca4;
}

.game__navigation-container--home:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.game__navigation-container--home:focus {
  background-color: #1ba786;
}

.game__navigation-container--restart {
  background-color: #0197f6;
}

.game__navigation-container--restart:hover {
  background-color: #0090e9;
  cursor: pointer;
}

.game__navigation-container--restart:focus {
  background-color: #0181d1;
}

.game__field {
  height: 80vmin;
  max-width: 80vmin;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(#615dad, #ffc8da) no-repeat;
}

.game__btn {
  width: 10%;
  background-color: rgba(255, 255, 255, 0.4)
}

.game__btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.game__btn:focus {
  background-color: rgba(255, 255, 255, 0);
}
